@import "@/assets/css/main.scss";

$admin-bg: black;
$admin-fg: white;

.chat-header {
    margin: 0;
    padding: 0;
    height: 72px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    .chat-header-row {
        margin: 0;
        padding: 4px 10px;
        align-items: center;
        height: 100%;
    }
    .num-members {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12 * $chat-text-size;
        color: black;
    }
    .v-btn.leave-button {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 11 * $chat-text-size;
        color: black;
        background-color: white !important;
        border: 1px solid black;
        border-radius: $chat-standard-padding / 2;
        height: $chat-standard-padding;
        margin-top: $chat-standard-padding-xs;
        margin-bottom: $chat-standard-padding-xs;
    }
    .v-btn.avatar {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 11 * $chat-text-size;
        color: black;
        background-color: white !important;
        border: 1px solid black;
        border-radius: $chat-standard-padding / 2;
        height: $chat-standard-padding;
        margin-top: $chat-standard-padding-xs;
        margin-bottom: $chat-standard-padding-xs;
    }
}

.room-list-notification-count {
    position: absolute;
    top: 10px;
    left: 40px;
    color: white;
    background-color: black;
    font-size: 10px;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.chat-root {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;

    background-color: $chat-background;
    overflow: hidden;

    .chat-content {
        margin: 0;
        padding-top: $chat-standard-padding-s;
        padding-left: $chat-standard-padding-s;
        padding-bottom: $chat-standard-padding-s;
        padding-right: $chat-standard-padding-s;
        &::-webkit-scrollbar {
            width: 4px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: #cccccc;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: black;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #4d4d4d;
        }
    }

    .input-area {
        background-color: #e2e2e2;
        margin: 0;
        padding-left: $chat-standard-padding-s;
        padding-right: $chat-standard-padding-s;
    }

    .input-area-outer {
        position: relative;
        background-color: #ffffff;
        margin: 0;
        padding-left: 2 * $chat-standard-padding-s;
        padding-right: 2 * $chat-standard-padding-s;
        padding-top: 0px;
        .typing {
            font-family: "Inter", sans-serif;
            font-weight: 300;
            font-size: 12 * $chat-text-size;
            color: #1c242a;
            text-align: center;
            min-height: 20px;
        }
        .input-area-inner {
            background-color: white;
            border: 1px solid #d4d4d4;
            border-radius: 32px;
        }
        .input-area-button {
            margin: 0;
            padding: 0;
            min-width: 48px;
        }
        .input-area-text {
            max-height: 30vh;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 0 0px 20px;
            margin: 6px 0;
            font-family: "Inter", sans-serif;
            font-weight: 300;
            font-size: 18 * $chat-text-size;
            .v-input__slot {
                /* Remove text underline */
                color: transparent !important;
                min-height: 20px;
            }
        }
    }

    .scroll-to-end {
        position: absolute;
        top: -64px;
        right: 16px;
    }

    .op-button {
        position: relative;
        display: inline-block;
        vertical-align: top !important;
        .v-icon {
            color: #eeeeee;
            &:hover {
                color: #888888;
            }
        }
    }
}

.messageJoin {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    text-align: center;
    user-select: text;
}

.messageIn {
    margin: 8px;
    text-align: left;
    position: relative;
    .bubble {
        background-color: #eeeeee;
        border-radius: 0px 10px 10px 10px;
        padding: 8px;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #eeeeee !important;
        display: inline-block;
        position: relative;
        max-width: 70%;
    }
    &.from-admin .bubble {
        background-color: $admin-bg;
    }
    .audio-bubble {
        width: 70%;
        height: 50px;
    }
    .bubble.image-bubble {
        padding: 0px;
        overflow: hidden;
        display: inline-block;
        width: 70%;
        max-width: 70%;
    }
    .bubble.sticker-bubble {
        padding: 0px;
        overflow: hidden;
        display: inline-block;
        width: 30%;
        max-width: 30%;
        background-color: transparent;
        border: 0px solid transparent !important;
    }
    .avatar {
        display: inline-block;
        vertical-align: top !important;
        margin-right: 10px;
        top: 0;
        border: 2px solid white;
    }
    .senderAndTime {
        display: block;
    }
    .sender {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        margin-left: 40px;
        margin-right: 8px;
        display: inline-block;
    }
    .time {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        display: inline-block;
    }
    .link {
        color: inherit;
    }
}

.messageOut {
    margin: 8px;
    text-align: right;
    position: relative;
    .bubble {
        background-color: #e5e5e5;
        border-radius: 10px 10px 0 10px;
        padding: 8px;
        display: inline-block;
        position: relative;
        max-width: 70%;
    }
    .audio-bubble {
        background-color: #e5e5e5;
        border-radius: 10px 10px 0 10px;
        padding: 8px;
        display: inline-block;
        position: relative;
        max-width: 70%;
        width: 70%;
        height: 50px;
    }
    .video2-bubble {
        background-color: #e5e5e5;
        border-radius: 10px 10px 0 10px;
    }
    .bubble.image-bubble {
        padding: 0px;
        display: inline-block;
        width: 70%;
        max-width: 70%;
        .v-image,
        video {
            border-radius: 10px 10px 0 10px;
        }
    }
    .bubble.sticker-bubble {
        padding: 0px;
        display: inline-block;
        width: 30%;
        max-width: 30%;
        background-color: transparent;
    }
    .avatar {
        display: inline-block;
        vertical-align: bottom !important;
        margin-left: 10px;
        bottom: 0;
        border: 2px solid white;
    }
    .senderAndTime {
        display: block;
    }
    .sender {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        display: inline-block;
        margin-left: 40px;
        margin-right: 8px;
    }
    .time {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        display: inline-block;
    }
    .link {
        color: inherit;
    }
}

.sender,
.status {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    margin-bottom: 4px;
}

.message {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16 * $chat-text-size;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    .edit-marker {
        font-size: 0.8rem;
        color: #888888;
    }
    .from-admin & {
        color: $admin-fg;
    }
    user-select: text;
}

.original-message {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 8px;
    user-select: text;
    .original-message-sender {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 13 * $chat-text-size;
        color: #000000;
        overflow-wrap: break-word;
        white-space: pre;
    }
    .original-message-text {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 11 * $chat-text-size;
        color: #000000;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}

.time {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    display: inline-block;
}

.statusEvent {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    text-align: center;
    margin: 20px;
    user-select: text;
}

.audio-player {
    width: 100%;
    position: absolute;
    .currentColor {
        background-color: #000000 !important;
    }
    .v-icon {
        color: black !important;
    }
    .from-admin & {
        color: $admin-fg;
        .currentColor {
            background-color: #555555 !important;
        }
        .v-icon {
            color: white !important;
        }
    }
    .play-time {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 13 * $chat-text-size;
    }
    .play-progress {
        padding: 0px 10px;
        .v-slider__thumb {
            display: none;
        }
        &:hover .v-slider__thumb {
            display: block;
        }
    }
}

.message-operations-strut,
.avatar-operations-strut {
    position: relative;
    height: 0px;
    z-index: 1;
}

.message-operations {
    position: absolute;
    width: fit-content;
    background-color: white;
    height: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #888888;
    // &.incoming {
    //     right: 30%;
    // }
    // &.outgoing {
    //     left: unset !important;
    //     right: 10px !important;
    // }
}

.avatar-operations {
    position: absolute;
    width: fit-content;
    background-color: white;
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    box-shadow: 4px 4px 8px #888888;
}

.message-operations-picker {
    background-color: white;
    text-align: center;
}

.quick-reaction-container {
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 50px;
    z-index: 2;
    background-color: #000000;
    border: 2px solid white;
    border-radius: 13px;
    height: 26px;
    width: max-content;
    padding: 0px 6px;
    .messageOut & {
        left: unset;
        right: 50px;
    }
    .quick-reaction {
        position: relative;
        top: -2px;
        margin: 0px 0px;
        padding: 1px;
        font-size: 10px;
        &:hover {
            border: 1px solid #888888;
            background-color: #e2e2e2;
        }
        .quick-reaction-count {
            color: #888888;
            font-size: 0.7rem;
        }
    }
    .sent .quick-reaction-count {
        color: white;
        font-weight: 700;
        // background-color: palegreen;
    }
}

.download-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    display: flex;
    .download-text {
        width: 100%;
        color: white;
    }
}

.room-name,
.room-name-inline {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18 * $chat-text-size;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.room-name-inline {
    text-align: start;
}

.room-name.no-upper {
    text-transform: none;
}

.read-marker {
    margin-left: 20px;
    margin-right: 20px;
    height: 1px;
    width: calc(100% - 40px);
    line-height: var(--v-theme-title-featured-line-height);
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8 * $chat-text-size;
    line-height: 140%;
    /* identical to box height, or 14px */
    letter-spacing: 0.29px;
    color: #c0c0c0;
    background-color: #c0c0c0;
    text-align: center;
    &::after {
        position: absolute;
        top: -4px;
        background: white;
        transform: translate(-50%, 0);
        padding-left: 4px;
        padding-right: 4px;
        content: attr(title);
    }
}

.day-marker {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    line-height: var(--v-theme-title-featured-line-height);
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10 * $chat-text-size;
    line-height: 140%;
    /* identical to box height, or 14px */
    letter-spacing: 0.29px;
    color: black;
    background-color: black;
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        top: -8px;
        background: white;
        transform: translate(-50%, 0);
        padding-left: 10px;
        padding-right: 10px;
        content: attr(title);
    }
}

.room-info {
    background-color: #e0e0e0;
    height: 100%;
    .chat-header {
        background-color: transparent;
        border: none;
    }

    .room-avatar {
        background-color: #ededed;
        width: 64px !important;
        height: 64px !important;
        margin-bottom: 20px;
        .headline {
            font-size: 70 * $chat-text-size !important;
        }
    }

    .name {
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: 800;
    }

    .topic {
        font-family: "Inter", sans-serif;
        font-size: 16px;
    }

    .created-by {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: bold;
    }

    .avatar .headline {
        font-size: 16 * $chat-text-size !important;
    }

    .qr-container {
        background-color: white;
        border-radius: 8px;
        margin-top: 20px !important;
        .qr {
            width: 60px;
            height: 60px;
            background-color: #e0e0e0;
        }
        .link {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            text-decoration: underline;
            color: #3d6eff;
            overflow-wrap: anywhere;
        }
    }
    .link-copied-in-place .v-btn__content {
        font-family: "Inter", sans-serif !important;
        font-size: 12px !important;
        text-transform: none !important;
        color: #3d6eff;
    }

    .v-card {
        background-color: white;
        border-radius: 20px;
    }

    .member::after {
        content: " ";
        display: block;
        margin: 10px 0px;
        bottom: 0px;
        height: 1px;
        background-color: #e1e1e1;
        width: 100%;
    }

    .show-all {
        color: black;
        font-size: 14 * $chat-text-size;
        font-weight: bold;
        margin-left: 10px;
        text-decoration: underline;
    }
}

.header-button-left {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 12 * $chat-text-size;
}

.header-button-right {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 12 * $chat-text-size;
}

.profile {
    background-color: white;
    height: 100%;
    .chat-header {
        background-color: transparent;
        border: none;
    }
    .v-card {
        background-color: white;
        border-radius: 20px;
    }

    .user-info {
        display: flex;
        flex-wrap: nowrap;
        max-width: 80%;
    }

    .show-all {
        color: black;
        font-size: 14 * $chat-text-size;
        font-weight: bold;
        margin-left: 10px;
    }
}

.action-row {
    padding: 4px 20px;
    cursor: pointer;
    height: 55px;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    color: black;
    position: relative;
    .v-icon {
        color: black !important;
    }
    &:not(:last-of-type):after {
        /* divider */
        position: absolute;
        content: " ";
        display: block;
        margin: 0px 10px;
        bottom: 0px;
        height: 1px;
        background-color: #e1e1e1;
        width: 100%;
    }
}

.mic-button {
    background-color: transparent !important;
    &.waiting-for-long-tap {
        transition: background-color 0.5s;
        background-color: black !important;
        .v-icon {
            color: white !important;
        }
    }
}

.voice-recorder {
    position: relative;
    margin-top: 14px !important;
    &.ptt {
        position: absolute;
        left: 10px;
        bottom: 0px;
        right: 10px;
    }
    border-radius: 10px;
    background-color: black;
    overflow: hidden;
    .will-cancel {
        background-color: #ff3300;
    }
    .recording-time {
        color: white;
    }
    .swipe-info {
        color: white;
    }
    .locked {
        background-color: black;
    }
    .error {
        background-color: orange;
    }
    .voice-recorder-lock {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        width: 20px;
        height: 100%;
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgba(white, 0.3);
        &.locked {
            background-color: rgba(white, 0.8);
        }
        .thumb {
            width: 16px;
            height: 16px;
            background-color: black;
            border-radius: 8px;
            position: absolute;
            bottom: 1px;
            left: 1px;
            &.locked {
                top: 1px;
                bottom: unset;
            }
        }
    }
}

.bottom-sheet .card {
    z-index: 10; /* Above mic button etc. */
    background-color: white;
    padding: 10px;
}

.room-info-sheet {
    background-color: white;

    .current-room {
        padding: 25px;
        background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #f5f5f7;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 18px;
    }

    .room-avatar {
        background-color: #ededed;
        width: 44px !important;
        height: 44px !important;
        margin-bottom: 20px;
        .headline {
            font-size: 70 * $chat-text-size !important;
        }
    }
}

.create-room {
    .v-avatar {
        border: 1px solid #808080 !important;
    }

    .section {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        border: 1px solid #808080 !important;
        position: relative;
    }
}

.room-link .v-input__slot::before {
    /* Remove text underline */
    border-style: none !important;
}

.created-room-welcome-header {
    background-color: #f5f5f5;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

.link-copied {
    position: absolute;
    bottom: 10px;
    left: 20%;
    right: 20%;
    background-color: #888888;
    height: 50px;
    border-radius: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.avatar-32 {
    font-size: 18 * $chat-text-size !important;
}

.avatar-48 {
    font-size: 27 * $chat-text-size !important;
}

.avatar-32.clickable,
.avatar-48.clickable {
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.new-room {
    font-family: "Inter", sans-serif;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-decoration: underline;
    color: black;
    &::after {
        content: "\00a0\00a0>";
        display: inline-block;
        text-decoration: none !important;
    }
}
